@import "tailwindcss";
@import '@portfolio/ui/globals.css';

@theme inline {
  --font-display:  "Inter","Yu Gothic Pr6N","Yu Gothic","Noto Sans JP",system-ui,sans-serif;
}

html {
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  font-family: var(--font-display);
  & > div#__nuxt {
    min-width: 100%;
    min-height: 100%;
    display: inline-flex;
    & > * {
      display: inline-flex;
    }
  }
}

