@import "tailwindcss";
@import '@portfolio/ui/globals.css';

@theme inline {
  /* TYPOGRAPHY - TYPE SCALE */
  --text-3xs: 0.5875rem;
  --text-3xs--line-height: 1.0;
  --text-2xs: 0.6875rem; /* 11px */
  --text-2xs--line-height: 1.2;

  /* TYPOGRAPHY - FONTS */
  --font-main:  "IBM Plex Sans","Zen Kaku Gothic New", system-ui, sans-serif;
  --font-inter:  "Inter","Zen Kaku Gothic New", system-ui, sans-serif;
  --font-geist:  "Geist","Zen Kaku Gothic New", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", system-ui, sans-serif;
  --font-ja-serif: "Shippori Mincho B1", Georgia, Cambria, 'Times New Roman', ui-serif, serif;
} 

html {
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  font-family: var(--font-geist);
  
  & > div#__nuxt {
    min-width: 100%;
    min-height: 100%;
    display: inline-flex;
    & > * {
      display: inline-flex;
    }
  }

  .section-body {
    padding-top: calc(var(--spacing) * 20);
    padding-inline: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 2);
  }
}

@layer utilities {
  .bg-dot-grid {
    /* background-color: #fafafa; */
    background-image:
      radial-gradient(circle, rgba(0,0,0,.1) 1.3px, transparent 1.3px);
    background-size: 18px 18px;
  }

  .resume-section {
    @apply flex flex-col gap-8 *:flex *:flex-col *:gap-1
    *:*:flex *:*:flex-col *:*:gap-3
    *:*:first:flex *:*:first:flex-col sm:*:*:first:flex-row
    *:*:first:gap-1 *:*:first:font-medium
  *:*:first:text-lg *:*:*:last:text-neutral-400;
  }

  .resume-section-title {
    @apply font-medium text-lg;
  }

  .resume-padding {
    @apply flex items-center justify-start px-2 py-1.5 ;
  }

  .resume-parent-padding {
    @apply *:flex *:px-2 *:py-1.5 *:items-center;
  }

  .button {
    @apply px-5 py-3 rounded-full bg-neutral-50 text-neutral-600 font-medium;
  }
}