---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="text text-9xl">Mahardini Putri</div>
</Layout>
<style is:global>
  :root {
    font-family: 'PP Mori', sans-serif;
  }
</style>
