---
import '@/assets/style.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAHx4eAEWqsABwT08AZmVlAELi6wBNTEsAgn98AI+PjwDrQtcAqKioAL+/vwAAAAAAAAAAAAAAAAAAAAAAAJAAAAAAAAADkwAAAAAAAJmZkAAAAAAAA5MAZmYAAAAAkAZmZmAAAAAAEREREQAAABEREREREQABAGRHiKsAEAEAZHiruwAQABFniru7EQAAAAeru7AAAAAAAKu7AFAAAAAAAAACUgAAAAAAAFVVUAAAAAAAAlIAAAAAAAAAUADf/wAAj/8AAAf/AACMPwAA2B8AAPAPAADAAwAAsA0AALANAADAAwAA+B8AAPw3AAD/4wAA/8EAAP/jAAD/9wAA"
      rel="icon"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dini Putri</title>
  </head>
  <body class="m-0 box-border min-h-screen p-0">
    <slot />
  </body>
</html>
